<!DOCTYPE html>
<html lang="en">
<head>
  <h1>Test</h1>
</head>

<body>

<form action="/content" method="post">
    <input name="content" type="text" placeholder="추가하기...">
    <button type="submit">Add</button>
</form>
<br>

<form action="/update" method="post">
    <input name="update" type="text" placeholder="변경하기...">
    <button type="submit">update</button>
</form>
<br>

<form action="/delete" method="post">
    <input name="delete" type="text" placeholder="삭제하기...">
    <button type="submit">delete</button>
</form>


<br><br>

<h3>DB 데이터입니다.</h3>
    <div>
        <ul>{% for db in result %}
            <li>{{ db }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>